/* #heading {
    text-align: center;
	background: #ffcccc;
	color: red;
	vertical-align: middle;
	font-size: 20px;
} */

/* #accordion-ui {
	width: 1000px;

}  */
/* html, body {
	height: 100%;
  } */


/* #input-stories {
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 100px;
} */